body{
  background-color: blue;
}

.outsidebox {
  height: 300px;
  width: 1000px;
  margin: auto;
  margin-top: 100px;
  border: black 5px solid;
}

.topbox{
  color: red;
  font-size: 10px;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  border: green 1px dashed;
}

.picturebox{
  border: yellow 1px dashed;
  padding: 10px 10px 10px 10px;
  float: left;
  max-width: 200px;
  max-height: 233px;
}
